#profile-img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;

}

#display-card {
    border-radius: 25%;
    border: solid;
    max-width: 25rem;
    max-height: 18rem;
    margin: 5px 10px;
    padding: 20px 20px;
}